body {
    margin: 0;
    padding: 0;
    background-color: #5896EB;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}


.navigation__link {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    
}

.navigation__link:hover {
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.indent-right {
    margin-right: 15px;
}

.main-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    color: #fff;
}

.main-screen__header {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.main-screen__paragraph {
    font-weight: 500;
    margin: 0;
}

.second-screen {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    color: #585F67;
    padding: 20px 0 50px;
}

.cards-container {
    display: flex;
}

.card {
    text-align: center;
    width: 300px;
    margin: 0 15px;
    transform-style: preserve-3d;
    transition: all .3s ease;
}

.card:hover {
    color: #5896EB;
    cursor: pointer;
    background-color: rgb(167, 255, 201);
    border-radius: 4px;
    box-shadow: inset 0 90px 0 0 rgb(255, 255, 255);
    /* filter: hue-rotate(120deg); */
}

.card__icon {
    height: 80px;
}

.card__header {
    text-decoration: underline;
}

.card__paragraph {
    font-size: 14px;
}

.card__description {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.t3d {
    perspective: 1000px;
}

.t3d:hover .rotate{
    transform: rotateY(180deg);
    /* background: rgb(255, 143, 143); */
}

.rotate {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
}

.rotate__icon {
    margin: 0 auto;
    text-align: center;
}

.text {
    position: absolute;
    top: 0;
    left: 110px;
    transform: rotateY(180deg);
    
}

.rotate__icon, .text {
    width: 80px;
    height: 80px;
    backface-visibility: hidden;
}